{% extends 'base.html.twig' %}

{% block title %}
  Gestion de prix de vente
{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="example-wrapper">
        <div class="head-content">
          <a href="{{ path('produit.prix.vente.add') }}" class="btn-1">Créer une nouvelle prix</a>
        </div>
        <table class="table table-striped">
          <tr>
            <th>Prix (Ariary)</th>
          </tr>
          {% for prix in prix_vente %}
            <tr>
              <td>{{ prix.valeur|number_format }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
{% endblock %}
