{% extends 'base.html.twig' %}

{% block title %}Listes des utitlisateurs{% endblock %}

{% block body %}
<section>
    <div class="container">
      <div class="body-content">
        <table class="table table-striped">
          <tr>
            <th>Nom </th>
            <th>Email</th>
            <th>Role</th>
            <th>Edition</th>
          </tr>
          {% for user in users %}
            <tr>
              <td>
                {{ user.name }}
              </td>
              <td>
                {{ user.email }}
              </td> 
              <td>
                {{ user.roles| join(', ')  }}
              </td> 
              <td>
                {# <a href="{{ path('user.edit', { id: user.id }) }}" class="btn-primary btn">Modifier</a> #}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
{% endblock %}
